body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: "../../public/css/img/round.png";
  text-align: center;
}
footer {
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;

  /*.copyright {
    padding-top: @padding-small-horizontal / 2;
    padding-bottom: @padding-small-horizontal;*/
  }
}

.foot-link{
  color: orange;
}
