body {
  background-color: #222222;
  margin-left: 5%;
  margin-right: 5%;
  font: italic 12px/30px Georgia, serif;
}

h3 {
  text-align: center;
  color: #51b88f;
}

p {
  font: 16px Georgia, serif;
  color: grey;
  text-align: left;
  border-radius: 10px 10px 0 0;
}
.card {
  text-align: center;
  /*background-color: #222222;*/
}

.jumbotron {
  text-align: center;
  background-color: #222222;
}

#btn-sm {
  align-items: right;
}
.wrapper {
  column-count: 2;
  column-gap: 50px;
  padding: 50px;
}
.panel {
  background-color: #222222;
}

.panel-1 {
  margin-top: 10%;
  margin-right: 5%;
  text-align: left;
}
.panel-bodyindex {
  /*line-height: 21em;*/
  font-size: 14px;
}

.panel-bodyintro {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}
.row-2 {
  text-align: center;
}
.panel-nupoc {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.panel-list {
  margin-left: 40%;
  margin-right: 30%;
  text-align: center;
}
